<div class="navWrapper"><nav> <%- include('./partials/nav.ejs') %> </nav></div>
<div id="main">
  <h1><%= title %></h1>



  <div class="createNewCatWrap">
    <div id="createNewCat">
        <span id="catName"> Create new category </span>
        <button id="catBtn" type="button" name="button">Create</button>
    </div>
  </div>

  <div id="catWrap" class="catcontainer container">
    <% for (var i = 0; i < company.butlerbird.content.categorys.length;  i++ ) { %>


      <div id='<%= company.butlerbird.content.categorys[i].category.catid %>' class="catdraggable draggable category" draggable="true">

        <div class="createbox">
          <h2><%= company.butlerbird.content.categorys[i].category.name %> </h2>
          <div>
            <input id="boxname" type="text" name="" value="">
            <button id="boxnamebtn" type="button" name="button">+</button>
          </div>

        </div>

        <div class="boxcontainer container">
          <% for (var o = 0; o < company.butlerbird.content.categorys[i].category.content.length;  o++ ) { %>

            <div id="<%= company.butlerbird.content.categorys[i].category.content[o]._id%>" class="boxdraggable box draggable" draggable="true">
              <div class="name">
                <h2><%= company.butlerbird.content.categorys[i].category.content[o].name%></h2>
                <button class="arrow" type="button" name="button"><img src="/img/arrow.svg" alt="black arrow"></button>

              </div>
              <form class="saveContent" action="/content/update/content"  method="POST" enctype="multipart/form-data">

                <div class="settings">
                  <div>
                    <h3>Preview</h3>
                    <div class="previewText">
                      <span>Text</span>
                      <textarea name="previewtext" rows="2" cols="80"><%= company.butlerbird.content.categorys[i].category.content[o].preview.text%></textarea>
                    </div>
                    <br>
                    <div class="previewImg">
                      <span>Image</span>
                      <input type="file" name="previewimg">
                      <img src="/getimg/<%= company.butlerbird.content.categorys[i].category.catid %>/<%= company.butlerbird.content.categorys[i].category.content[o]._id%>/preview" alt="">
                    </div>
                    <br>
                    <div class="previewAction">
                      <span>Action</span>
                      <select class="action" name="action" onchange="actionDisplay(this)">
                          <%

                            if (company.butlerbird.content.categorys[i].category.content[o].preview.action == 'link') {%>
                              <option selected="selected" class="option" value="link">Link to page</option>
                              <option class="option" value="copy">Copy to clipboard</option>
                            <%} else { %>


                              <option selected="selected" class="option" value="copy">Copy to clipboard</option>
                              <option class="option" value="link">Link to page</option>

                            <% }  %>

                      </select>
                    </div>

                    <br>
                    <div>
                      <h3>Page contents</h3>
                        <div class="pageImg">
                          <span>Image</span>
                          <input type="file" name="pageimg">
                        </div>
                        <div class="pageText">
                          <span>Text</span>
                          <textarea name="pagetext" rows="2" cols="80"><%= company.butlerbird.content.categorys[i].category.content[o].page.text%></textarea>
                        </div>
                    </div>

                    <div>
                      <h3>Clipboard</h3>
                      <div class="clipboardText">
                        <span>Text</span>
                        <textarea name="name" rows="2" cols="80"></textarea>
                      </div>
                    </div>

                  </div>


                </div>
                <div class="saveContentBtnWrap">
                  <button class="saveContent" type="submit">Save</button>
                </div>
                 <input type="hidden" name="catId" value="<%= company.butlerbird.content.categorys[i].category.catid %>">
                 <input type="hidden" name="boxId" value="<%= company.butlerbird.content.categorys[i].category.content[o]._id %>">
              </form>

            </div>

          <% } %>
        </div>

      </div>

    <% } %>
  </div>
</div>


 <!--<script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.min.js"></script>-->
 <script src="./js/content.js"></script>
 <!--<script src="./js/main.js"></script>-->
